@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {
    color: #FFA726!important;
    font-family: 'Lobster',cursive;
    letter-spacing: .15em;
}
.nav-link {
    color: #81D4Fa!important;
    font-weight: 600;
}
#hero-section {
    background-image: url('images/Mypro.jpg');
    height: 100vh;
    position: relative;
}
#hero-section :is(.container) {
    font-family: 'Lobster', cursive;
    margin-top: 7em;
}
.superior-section {
    color: #e9e9e9;
    font-size: 40px;
}
.sub-section {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(220, 220, 220);
}
.container :is(a){
    color: #FFFFFF;
}
.my-cv {
    border: none;
    padding: .3em 2em .3em 2em;
}
.id-card{
    background: #FDC830;
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);
    background: linear-gradient(to right, #F37335, #FDC830);
    border-radius: 16px;    
}
#hero-section :is(.card){
    margin-top: 4em;
    padding: 0;
    font-family: 'Poppins';
    background: rgba( 255, 255, 255, 0.4 )!important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 100px );
    -webkit-backdrop-filter: blur( 100px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 16px!important;
}
.profile-pic{
    background-image: url('images/profil.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card :is(.bi) {
    color: #182a69;
}
.english-section {
    font-size: 14px;
}
.project,
.course,
.my-tool {
    width: 60px;
    height: 60px;
    background-color: #0e1247;
    border-radius: 50%;
    font-size: 12px;
    color: #FDC830;
}

#services{
    min-height: 100vh;
    background-color: #e9e9e9;
}
#services :is(.section-title) {
    font-family: 'Lobster',cursive;
    text-align: center;
    padding-top: 1em;
}
#services :is(.card) {
    font-family: 'Poppins';
    margin-top: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px!important;
}
#services :is(.bi-code-slash){
    width: 40px;
    height: 40px;
    background-color: #3fb10a;
    color: #FFFFFF;
    border-radius: 50%;
}
#services :is(.bi-brush) {
    width: 40px;
    height: 40px;
    background-color: #b10a66;
    color: #FFFFFF;
    border-radius: 50%;
}
#services :is(.bi-filetype-psd) {
    width: 40px;
    height: 40px;
    background-color: #290ab1;
    color: #FFFFFF;
    border-radius: 50%;
}
#services :is(.bi-wordpress) {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50%;
}
@media(max-width:991px) {
    #hero-section :is(.container){
        margin-top: 2em;
    }
   .card{
    width: 100%;
    border-radius: 16px!important;
   }
}